{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for face in faces %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <figure class="figure rounded overflow-hidden position-relative">
            <a href="{{ url_for('file', id=face.file_id) }}">
              <img src="{{ face.thumbnail_path }}" class="figure-img img-fluid">
            </a>
            <figcaption class="figure-caption">
              <form>
                  <div class="row g-2">
                    <div class="col">
                      <input class="form-control" list="persons" placeholder="Type to add a name...">
                    </div>
                    <div class="col-auto">
                      <input type="submit" class="btn" value="Save" />
                    </div>
                  </div>
              </form>
            </figcaption>
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
  <datalist id="persons">
    {% for person in persons %}
      <option value="{{ person.name }}"></option>
    {% endfor %}
  </datalist>
{% endblock %}

{% block style %}
  <style>
    .figure {
      width: 100%;
    }

    .figure-img {
      margin-bottom: 0;
      width: 100%;
    }

    .figure-caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      padding: 10px 15px;
    }
  </style>
{% endblock %}