{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for face in faces %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 face-container">
          <figure class="figure rounded overflow-hidden position-relative">
            <a href="{{ url_for('file', file_id=face.file_id) }}">
              <img src="{{ face.thumbnail_path }}" class="figure-img img-fluid">
            </a>
            <figcaption class="figure-caption">
              <form class="tag-person-form">
                  <div class="row g-2">
                    <div class="col">
                      <input name="person" class="form-control" list="persons" placeholder="Type to add a name..." autocapitalize="on" translate="no" autocomplete="off">
                      <input name="face_id" type="hidden" value="{{ face.id }}">
                    </div>
                    <div class="col-auto">
                      <input type="submit" class="btn" value="Save" />
                    </div>
                  </div>
              </form>
            </figcaption>
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
  <datalist id="persons">
    {% for person in persons %}
      <option value="{{ person.name }}"></option>
    {% endfor %}
  </datalist>
{% endblock %}

{% block style %}
  <style>
    .figure {
      width: 100%;
    }

    .figure-img {
      margin-bottom: 0;
      width: 100%;
    }

    .figure-caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      padding: 10px 15px;
    }
  </style>
{% endblock %}

{% block scripts %}
  <script>
    // Note: must be single-quoted since Jinja inserts JSON with double quotes
    let personsJson = '{{ persons | tojson }}';
    let persons = JSON.parse(personsJson) || [];

    // Handle Face Tagging Form: check if the person already exists, if not add a new person, and add it to the face
    document.querySelectorAll('.tag-person-form').forEach(form => {
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const person = formData.get('person');
        let person_id = null;

        // Prevent empty input
        if (!person || person.trim() === ''){
          return;
        }

        // If we don't know the person yet, add it to the database first
        const personExists = persons.find((p) => p.name.toLowerCase() === person.toLowerCase());

        if (!personExists) {
          const person_response = await fetch('/person', {
            method: 'POST',
            body: JSON.stringify({ name: person }),
            headers: { 'Content-Type': 'application/json' }
          });

          if (person_response.status === 201) {
            data = await person_response.json();
            person_id = data.id;

            // Add the new person to the persons list for local lookup
            persons.push({ id: person_id, name: person });
            document.getElementById('persons').innerHTML += `<option value="${person}"></option>`;
          } else {
            console.log('Error creating person', await person_response.text());
            // TODO: Show error message to user
          }
        // Or fetch it locally if we can find it in the persons list
        } else {
          person_id = personExists.id;
        }

        // Update the Face record with the defined person_id
        const faceId = formData.get('face_id');
        const face_response = await fetch(`/face/${faceId}`, {
          method: 'POST',
          body: JSON.stringify({ person_id: person_id }),
          headers: { 'Content-Type': 'application/json' }
        });

        if (face_response.status === 200) {
          console.log(`Face ${faceId} updated successfully with Person ID ${person_id}`)
          // Hide the face container after tagging
          parent = event.explicitOriginalTarget.parentElement.closest('.face-container').style.display = 'none';
        } else {
          console.log('Error updating face person_id', await face_response.text());
          // TODO: Show error message to user
        }
      })
    });
  </script>
{% endblock %}