{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{{ name }}</h1>
    <div class="row">
      {% for face in faces %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 face-container">
          <figure class="figure rounded overflow-hidden position-relative"> 
            <a href="{{ url_for('files.get_file', file_id=face.file_id) }}">
              <img src="{{ face.thumbnail_path }}" class="figure-img img-fluid">
            </a>
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block style %}
  <style>
    .figure {
      width: 100%;
    }

    .figure-img {
      margin-bottom: 0;
      width: 100%;
    }

    .figure-caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      padding: 10px 15px;
    }
  </style>
{% endblock %}